$black: #000;
$danger: #dd4a45;
$dark: #343a40;
$info: #52a4b9;
$light: #f8f9fa;
$primary: #0f7bff;
$secondary: #6c757d;
$success: #5fa946;
$warning: #f5c004;
$white: #fff;
$indigo: #7579e7;
$pink: #e1396c;
$orange: #e45320;
$grey: #ddd;
$gray: #ddd;
