@import '~themes/colors';

.wrapper {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: auto auto auto auto auto;
  margin: 0 auto;
  max-width: 80%;
}

.card {
  align-items: center;
  background-color: $white;
  border-radius: 0.8rem;
  border: 1px solid #eee;
  box-shadow: 0.5rem 0.5rem 1.8rem rgba($color: #000000, $alpha: 0.1);
  color: $dark;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  img {
    border-radius: 50%;
    height: 15rem;
    margin: 0 auto;
    width: 15rem;
  }
}
